.rodape {
    background-color: #FFFAFA;
    color: #FFFAFA;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}

.pp {
    font: bold;
    color: black;
}
